#col{
    color: rgba(0, 0, 0, 0.427);
    color: #00000032;
}

config: {
    iceServers: [
      {
        urls: "stun:stun.dutybazar.com:5349",
      },
      {
        urls: "turn:turn.dutybazar.com:5349",
        username: "duty",
        credential: "1229",
      },
    ],
  },